*.DS_Store
*.idea
.vscode
logs/

preprocess/raw_data
preprocess/data

data
frontend
engine.*.so

__pycache__

*.ipynb_checkpoints/

doc
notebook

tools/generate_grid_network.sh
tools/generate_grid_signal.sh

runexp.sh
log.txt

gs-*.json